/* Login.css */
.login-container{
text-align: left;
/* Alinea el texto a la izquierda */
padding: 50px;
background-image: url('/Users/Usuario/Desktop/ldlm-tienda/ldlm-tienda/src/Componentes/ImageAssets/fondo.jpg');
background-size: cover;
background-position: center;
height: 100vh;
}
.login {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.error {
    color: #ff0000;
    margin-bottom: 10px;
}